body {
  background: #1c1c1c;
  margin: 0;
  color: #fff;
  font-family: "Bebas Neue";
  text-align: center;
  max-width: 100%;
  columns: 1
}

h3 {
  font-size: 12vw;
  padding-top: 100px;
  margin: 0;
}

section {
  height: 100%;
  border-bottom: 3px solid white;
}

a {
  text-decoration: none;
  color: #fff;
}

.light-bg {
  background: #2c2c2c;
}

@media(max-width: 700px) {
  body {
    columns: 1;
  }

  /* Header */
  #header {
    border-bottom: 3px solid white;
    font-size: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh + 50px);
  }

  .heading {
    margin: 200px 0;
    padding: 0 20px 0 20px;
    width: 80vw;
  }

  .name {
    color: #46daff;
  }

  .header-btn {
    display: none;
  }

  /* Nav */
  #navBar {
    overflow: hidden;
    background-color: #3c3c3c;
    position: relative;
    border-top: 1px solid white;
  }

  .navContent a {
    text-align: left;
    display: block;
    font-size: 5vw;
    line-height: 2;
    padding-left: 10px;
  }

  #nav-bg .navContent {
    position: fixed;
    display: none;
    top: 50px;
    z-index: 10;
    background-color: #3c3c3c;
    width: 100%;
  }

  .navBtn {
    background: #000;
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 14;
    border-bottom: 2px solid #46daff;
  }

  .nav-btn {
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 3px 15px;
    right: 10px;
    top: 10px;
    position: fixed;
    display: block;
    font-size: 1rem;
    z-index: 15;
  }

  /* About */
  #about {
    text-align: center;
  }

  .ProfileImg {
    height: auto;
    width: 60%;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .content {
    padding-bottom: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .about-1, .about-2, .about-3 {
    border: 2px solid #46daff;
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    line-height: 1.75;
  }

  .about-2 {
    background: #3c3c3c;
  }

  /* Abilities */
  .card {
    border: 2px solid #46daff;
    border-radius: 15px;
    background-color: #3c3c3c;
    width: 80vw;
    margin: 75px auto 75px auto;
    font-size: 3vw;
    text-align: left;
    line-height: 2;
  }

  .card ul {
    list-style: none;
    padding-left: 0;
  }

  .head {
    padding-left: 20px;
  }

  .score li {
    max-width: 150px;
  }

  .score {
    position: relative;
    margin-left: auto;
    float: right;
    padding-right: 20px;
    transition: .35s;
  }

  li:hover .score {
    transform: scale(1.15);
  }

  li:hover {
    background-color: #2c2c2c;
    width: 100%;
  }

  .light {
    background: #3c3c3c;
    opacity: 25%;
  }

  li:hover .light {
    background: #2c2c2c;
  }

  .ability-img {
    width: 40%;
    margin: 25px auto;
  }

  .accolades h4 {
    font-size: 7vw;
    color: #46daff;
  }

  .accolades p {
    font-size: 4.5vw;
  }

  #projects {
    height: 100vh;
  }

  .projectBody {
    color: #46daff;
    font-size: 2rem;
    top: 250px;
    position: relative;
  }

  /* Contact */
  #contact {
    height: 100%;
  }

  .contact {
    color: #46daff;
    font-size: 2rem;
    margin: 100px auto;
    display: inline-block;
  }

  .form {
    max-width: 100vw;
  }

  input, textarea {
    width: 70%;
    background-color: #3c3c3c;
    margin-bottom: 5px;
    padding: 5px;
    border: 2px solid #5c5c5c;
    color: #fff;
  }

  .email-btn {
    font-family: sans-serif;
    font-size: 1rem;
    color: #fff;
    border: 2px solid white;
    padding: 15px;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: transparent;
  }

  /* Footer */
  #footer {
    height: 25vh;
    background-color: #2c2c2c;
    color: #fff;
    padding-top: 40px;
    font-size: 1.25rem;
    border-bottom: none;
  }

  .social {
    padding: 15px;
    color: #46daff;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

#about span {
  border: 2px solid #46daff;
}

@media screen and (min-width: 701px) {
  h3 {
    font-size: 4rem;
  }

  section {
    height: 100%;
    padding: 30px;
  }

  .light-bg {
    background-color: #2c2c2c;
    margin: 0;
  }

  /* Header */
  #header {
    height: calc(100vh + 57px);
    position: relative;
  }

  .heading {
    Font-size: 4vw;
    position: relative;
    margin-top: 300px;
    margin-bottom: auto;
  }

  .name {
    color: #46daff;
  }

  .header-btn {
    font-size: 2vw;
    font-family: sans-serif;
    color: #fff;
    text-decoration: none;
    position: relative;
    top: 50px;
    border: 2px solid white;
    padding: 15px;
    border-radius: 15px;
    transition: .5s;
  }

  .header-btn:hover {
    background-color: white;
    color: #000000;
  }

  .icon {
    transition: .25s;
  }

  .header-btn:hover .icon {
    transform: rotate(90deg);
  }

  .nav-btn {
    display: none;
  }

  #navBar {
    text-align: left;
    font-size: 2rem;
    height: 54px;
    background-color: #4c4c4c;
    border-bottom: 2px solid #46daff;
    padding-top: 15px;
    transition: top .5s;
  }

  #navBar a {
    padding-right: 25px;
    padding-left: 25px;
  }

  /* About */
  #about {
    height: 100%;
  }

  .ProfileImg {
    height: 300px;
    width: 300px;
    position: relative;
    margin-top: 100px;
  }

  .content {
    display: flex;
    margin-top: 50px;
  }

  .content div {
    border: 3px solid #46daff;
    font-size: 1.75vw;
    display: inline-block;
    position: relative;
    margin: 50px auto 50px auto;
    padding: 10px;
    text-align: center;
    width: 25vw;
  }

  .about-1 {
    line-height: 1.75;
  }

  .about-2, .about-3 {
    line-height: 2.5;
  }

  /* Abilities */
#ability{
  height: 100%;
}

.ability{
  display: flex;
}

  .clock, .phone {
    width: 45vw;
  }

  .card {
    border: 2px solid #46daff;
    border-radius: 15px;
    background-color: #3c3c3c;
    width: 30vw;
    margin: 75px auto;
    font-size: 1.5vw;
    text-align: left;
    line-height: 2.75;
  }

  .accolades {
    position: relative;
    width: 45vw;
    padding-right: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }


  .ratings {
    position: relative;
    width: 45vw;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
  }

  .card ul {
    list-style: none;
    padding-left: 0;
  }

  .head {
    padding-left: 20px;
  }

  .score li {
    max-width: 150px;
  }

  .score {
    position: relative;
    margin-left: auto;
    float: right;
    padding-right: 20px;
    transition: .35s;
  }

  li:hover .score {
    transform: scale(1.15);
  }

  li:hover {
    background-color: #2c2c2c;
    width: 100%;
  }

  .light {
    background: #3c3c3c;
    opacity: 25%;
  }

  li:hover .light {
    background: #2c2c2c;
  }

  .ability-img {
    width: 15%;
  }

  .accolades h4 {
    font-size: 2.75vw;
    color: #46daff;
  }

  .accolades p {
    font-size: 1.75vw;
  }

  /* Projects */
  #projects{
    height: 100vh;
  }

  .projectBody {
    font-size: 2rem;
    color: #46daff;
    position: relative;
    top: 200px;
  }

  /* Contact Me */
  #contact {
    padding-top: 30px;
    height: 75vh;
  }

  #contact h3 {
    margin-bottom: 25px;
  }

  input, textarea {
    width: 400px;
    background-color: #3c3c3c;
    margin-bottom: 5px;
    padding: 5px;
    border: 2px solid #5c5c5c;
  }


  .contact {
    font-size: 1.5rem;
    color: #46daff;
    margin: 100px 0;
  }

  .email-btn {
    font-family: sans-serif;
    font-size: 1rem;
    color: #fff;
    border: 2px solid white;
    padding: 15px;
    border-radius: 15px;
    margin-top: 30px;
    transition: .5s;
    background-color: transparent;
    cursor: pointer;
  }

  .email-btn:hover {
    background-color: #fff;
    color: #000000;
  }

  #footer {
    height: 20%;
    background-color: #2c2c2c;
    color: #fff;
    padding-top: 40px;
    font-size: 1.25rem;
  }

  .input {
    width: 100%;
    margin-bottom: 10px;
  }

  .form {
    max-width: 400px;
    display: inline-block;
  }

  /* ---------------------------------------- */
  .social {
    padding: 15px;
  }

  .social:hover {
    color: #46daff;
  }
}
